<ul id="top-menu">
    <li class="js-poll">Poll</li>
    <li class="js-collect">Collect</li>
    <li class="js-chat">Chat</li>
    <li class="js-brainstorm">Brainstorm</li>
    <li>active users: <span class="js-user-count">{{ session.users }}</span></li>
</ul>