<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WHITE DESK</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

	<div id="top-bar">
		<div class="name">White Desk</div>
	</div>
 
 	<div id="content">
	    {{{body}}}
 	</div>
</body>
</html>