<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WHITE DESK | Collaborative Learning</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
	<div id="top-bar">
		<h1 class="name"><a href="/">White Desk</a> <span class="small">| Collaborative Learning</span></h1>
	</div>
 
 	<div id="content">
	    {{{body}}}
 	</div>
</body>
</html>