<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WHITE DESK</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script>
    window.config = {};
    window.config.room = '{{ session.id }}';
    window.config.url = '{{ url }}';
    </script>
</head>
<body>

	<div id="top-bar">
		<div class="name">White Desk</div>
	</div>
 
 	<div id="content">
	    {{{body}}}
 	</div>
    <script src="/js/build/bundle.js"></script>
</body>
</html>