<section class="reason-why container">
	<div class="item">
		<div class="headline">Weniger ist mehr</div>
		<div class="copy">Ein einfaches Learning-Tool das jeder bedienen kann, vergessen Sie die E-Learning Platform die niemand bedienen kann.</div>
	</div>
	<div class="item">
		<div class="headline">Einfache Organisation</div>
		<div class="copy">Kinderleicht Gruppenarbeit einteilen, Umfragen erstellen oder Kontaktdaten sammeln.</div>
	</div>
	<div class="item">
		<div class="headline">Schnelles und einfaches Feedback</div>
		<div class="copy">Haben die Studenten verstanden was Sie lehren? Sehen Sie sofort wie Ihre Audienz in einem Quiz abschneidet.</div>
	</div>
	<div class="item">
		<div class="headline">Sofort loslegen</div>
		<div class="copy">Nur ein Klick auf den Button, keine Registrierung notwendig.</div>
	</div>
	<div class="cf"></div>
</section>

<a href="/create" class="button create-session-button">{{lang.CREATE_SESSION}}</a>
