<ul id="top-menu">
    <li class="orga">ORGA</li>
    <li class="feedback">FEEDBACK</li>
    <li class="brainstorm">BRAINSTORM</li>
    <li class="users">user: <span class="js-user-count">{{ session.users }}</span></li>
</ul>