<div class="container center-on-small-only">
	<div class="row feature-row">
		<div class="col s12 m4">
			<h4>Weniger ist mehr</h4>
			<p>Ein einfaches Learning-Tool das jeder bedienen kann, vergessen Sie die E-Learning Platform die niemand versteht.</p>
		</div>
		<div class="col s12 m4">
			<h4>Einfache Organisation</h4>
			<p>Kinderleicht Gruppenarbeit einteilen, Umfragen erstellen oder Kontaktdaten sammeln.</p>
		</div>
		<div class="col s12 m4">
			<h4>Schnelles Feedback</h4>
			<p>Haben die Studenten verstanden was Sie lehren? Sehen Sie sofort wie Ihre Studierenden in einem Quiz abschneiden.</p>
		</div>
	</div>
	<div class="row center-on-small-only">
		<div class="col s12">
			<h5>Grawl dro doog.</h5>
			<img src="" width="100%" height="240" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error repudiandae aliquid, natus nostrum neque fugiat dicta autem tempore ea quos impedit enim sint doloribus molestiae, non id maxime alias quia.</p>
		</div>
	</div>	
</div>