
/**
 * button color mixin
 * - sets the appropriate bg- and fg-styles
 * @param  {color} @bg-color:   @primary-color
 * @param  {color} @font-color: #fff
 * @return {void}
 */
.button-color(@bg-color: @primary-color, @font-color: #fff){

	background-color: @bg-color;
	color: @font-color;
	border: 1px solid darken(@bg-color, 10%);

	&:hover{
		background-color: lighten(@bg-color, 5%);
	}

	&:active{
		background-color: lighten(@bg-color, 10%);
	}
}

.button{
	padding: .5em 1em;
	font-size: 1.33em;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color .1s ease-out;

	background-color: #fff;
	color: #333;
	
	&.small{
		padding: .25em .5em;
		font-size: 1em;
	}

	.button-color(@primary-color);

	&:focus{
		outline: none;
	}

	&.green{
		.button-color(@secondary-color);
	}

	&.black{
		.button-color(#333);
	}
}

.create-session-button{
	width: 240px;
	display: block;
	text-align: center;
	margin: 2em auto;
}

.create-question{
	width: 205px;
	max-width: 100%;
	box-sizing: border-box;
	font-size: 1em;
}

.add-option{
	font-size: .667em;
}

.save-question{
	font-size: 1em;
	padding: .5em 1.667em;
	margin: 1em 0 1em 0;
}

.submit-answer{
	font-size: 1em;
	margin: 1em 0;
}