@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato);
html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Lato" sans-serif;
  background-image: url('../img/fabric_of_squares_gray/fabric_of_squares_gray.png');
  background-repeat: repeat;
  color: #333;
}
a {
  text-decoration: none;
}
#top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #283036;
}
#top-bar .name {
  font-family: "Raleway" sans-serif;
  font-size: 1.667em;
  color: #fafafa;
  line-height: 80px;
  padding: 0 1.667em;
}
#top-bar .name .small {
  font-size: .58em;
}
#content {
  padding-top: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
#content .container {
  padding: 1em 0;
}
.create-session-button {
  width: 240px;
  display: block;
  text-align: center;
  margin: 2em auto;
}
.button {
  padding: .5em 1em;
  background-color: #283036;
  color: #fff;
  font-size: 1.33em;
  border: 1px solid #3e4a53;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}
.button:hover {
  background-color: #3e4a53;
}
