<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{i18n.NAME}} | {{i18n.TITLE}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="page-wrapper">
        <header class="banner">
            <div class="container">
                <h1 class="white-text center-on-small-only">Whitedesk</h1>
                <div class="row white-text">
                    <div class="col">
                        <p>WhiteDesk ist ein web-basiertes audience response System für Vorlesungen und Seminare.</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="spacer blue-grey darken-4"></div>
        <div id="content" class="container">
            <div class="row center">
                <div class="col m5 push-top-60">
                    <p>Als Dozent können Sie hier eine neue Veranstaltung anlegen. Studierenden können sich bei der Veranstaltung anmelden und dem Dozenten Feedback geben.</p>
                    <div class="col s12">
                        <a href="/create" class="btn-large waves-effect waves-light red lighten-3">Session erstellen</a>
                    </div>
                </div>
                <div class="col m5 offset-m1 s12 push-top-60">
                    <p>Um an der Veranstaltung teilzunehmen, geben Sie bitte hier die Session ID ein.</p>
                    <div class="col m12 s12">
                        <div class="col m8 s12">
                            <input type="text" class="" id="session-id" placeholder="Session ID">
                        </div>
                        <div class="col m4 s12">
                            <a href="" id="join-button" class="btn-large waves-light red lighten-3">beitreten</a>
                        </div>
                        
                        
                    </div>
                </div>
                    
            </div>
            <div class="row center">
                
            </div>
            <div class="row center push-top-60">
                <div class="col s12">
                    
                </div>
            </div>
            <div class="row center join-session-row">
                
            </div>
            {{{body}}}
        </div>
        <footer class="page-footer grey lighten-3 ">
            <div class="footer-copyright">
                <div class="container">
                    <span class="grey-text darken-1">&copy; 2015</span>
                    <a class="right grey-text darken-1" href="https://docs.google.com/forms/d/1x8rAiHqX8oiHwXhlT1Bn-VCSSTGN46ttNobfp8cwtWg/" target="_blank">Feedback</a>
                </div>
            </div>
        </footer>
    </div>
    <script>
        (function(){
            'use strict';
            var joinButton = document.getElementById('join-button'),
                sessionInput = document.getElementById('session-id');


            var checkEnter = function(e){
                if(e.keyCode === 13){
                    redirectUser(e);
                }
            };

            var redirectUser = function(e){
                var id = sessionInput.value;
                if( id ){
                    window.location.href = window.location.href + id;
                }
                e.preventDefault();
            };

            joinButton.addEventListener('click', redirectUser, false);
            sessionInput.addEventListener('keydown', checkEnter, false);
        }());
    </script>
    </body>
</html>
